body{
    background-color: rgb(78, 78, 78);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.game{
    background-color: gray;
    padding: 70px;
    border-radius: 20px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    width: 550px;
    height: 300px;
}

.gameBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameInfo h1{
    color: #9a9ab5;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: 'uppercase';
    margin: 0 0 10px 0;
    
}

.lista li{
    list-style: none;
}
.lista{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}